
:root{

    /* =========================
       COLORS
    ========================= */

    --primary:
        #2563eb;

    --primary-dark:
        #1d4ed8;

    --success:
        #16a34a;

    --warning:
        #f59e0b;

    --danger:
        #dc2626;

    --sidebar:
        #111827;

    --sidebar-hover:
        #1f2937;

    --bg:
        #f3f4f6;

    --card:
        #ffffff;

    --border:
        #e5e7eb;

    --text:
        #111827;

    --text-light:
        #6b7280;

    /* =========================
       SHADOWS
    ========================= */

    --shadow-sm:
        0 2px 10px rgba(0,0,0,.05);

    --shadow-md:
        0 10px 25px rgba(0,0,0,.08);

    /* =========================
       RADIUS
    ========================= */

    --radius-sm:
        10px;

    --radius-md:
        16px;

    --radius-lg:
        24px;

    /* =========================
       TRANSITIONS
    ========================= */

    --transition:
        all .3s ease;
}

